@media only screen and (max-width: 768px) {
  .wrapper {
    min-height: 86.1vh;
  }
}

@media only screen and (min-width: 769px) {
  .wrapper {
    min-height: 85.2vh;
  }
}

@media only screen and (min-width: 995px) {
  .wrapper {
    min-height: 86.1vh;
  }
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    min-height: 86.2vh;
  }
}
