.heading .col-9 img {
  display: inline-block;
  max-width: 250px;
  max-height: 250px;
  margin: -5.5em 1em 1em 0;
}

.heading .col-9 .heading-details {
  display: inline-block;
}

.heading .heading-review {
  margin-top: 1em;
  text-align: center;
}

.heading .heading-rating {
  margin-left: -0.5em;
}

.heading .num-reviews {
  font-weight: lighter;
  font-size: 0.5em;
}

@media only screen and (max-width: 768px) {
  .heading .col-9 img {
    margin-top: 0;
  }
}
