.result {
  margin-bottom: 1px;
  margin: 0 -0.75em;
  border-radius: 0 !important;
  border: 0 !important;
}

.result .card-text span {
  margin-left: 0.5em;
}

.result .card-text svg {
  margin-top: -0.2em;
}

.result .card-text .num-reviews {
  font-weight: lighter;
  font-size: 0.75em;
}

.result .card-img-top {
  display: inline-block;
  max-width: 11em;
  margin-right: 1.25em;
}

.result .card-text {
  display: inline-block;
  vertical-align: top;
}

.result .card-link {
  text-decoration: none;
}
