.header {
  width: 40%;
  min-height: 94vh;
  padding: 0 1em !important;
}

.header h1 {
  padding-top: 7.5em;
}

@media only screen and (max-width: 1200px) {
  .header {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}
